<Server port="8000" shutdown="SHUTDOWN" debug="0">
    <Service name="Tomcat-Standalone">
        <Connector port="8090" connectionTimeout="20000" redirectPort="8443"
                maxThreads="48" minSpareThreads="10"
                enableLookups="false" acceptCount="10" debug="0" URIEncoding="UTF-8"
		proxyName="haodongz.com" proxyPort="80"/>
######
配置完毕后需要修改下/atlassian/confluence/conf/server.xml配置文件添加下当前confluence的域名我这里写的80端口因为做的nginx代理
